<ion-app mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-title>Mi app de productos</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <router-outlet></router-outlet>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-tabs>
                <ion-tab-bar slot="bottom">
                    <ion-tab-button routerLink="/inicio">
                        Inicio
                    </ion-tab-button>
                    <ion-tab-button routerLink="/buscar">
                        Buscar
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
        </ion-toolbar>
    </ion-footer>
</ion-app>